* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
body {
  background-image: url("../img/movie-details-bg.jpg");
  background-size: 230%;
}
.selected {
  background-color: #41c0ed;
  color: white;
}
nav {
  display: flex;
  min-height: 76px;
  background-color: #000000;
  position: fixed;
  padding: 15px 70px;
  z-index: 10;
  transition: all 0.2s ease-in;
}
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
  font-size: 26px;
  color: #ffffff;
}
/* menu */
.menu {
  width: 100%;
}
nav div.menu > ul {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  padding: 8px 40px 8px 8px;
  position: relative;
}
nav ul li a {
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.sub-menu {
  position: absolute;
  top: 120%;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  background-color: black;
  width: 100%;
}
.sub-menu li {
  color: #ffffff;
  padding: 8px 0px 8px 8px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-content: center;
}
li:hover .sub-menu {
  max-height: 100vh;
}
.second-sub-menu {
  background-color: #000000;
  position: absolute;
  top: 5px;
  left: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
}
.sub-menu li:hover .second-sub-menu {
  max-height: 100vh;
}

.sub-menu:hover {
  overflow: initial;
}
.ani-navbar-default {
  width: 98%;
  top: 15px;
  left: 1%;
  border-radius: 10px;
}
.ani-navbar {
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
}
/* --Nav Bar-- */
main {
  min-height: 100px;
}
#sec-1 {
  height: 100vh;
  position: relative;
}

/* tab */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ticket-tab {
  position: absolute;
  background-color: #1b1919d7;
  width: 25vw;
  min-height: 50vh;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  color: #ffffff;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 10px 20px -8px #ffffff9f, 0 8px 30px 8px #ffffff57;
}
#sec-1 img {
  opacity: 1;
  transition: all 2.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.tab-header {
  height: 40px;
  display: flex;
  border-bottom: 3px solid #41c0ed;
}
.tab-header p {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.tab-header p:first-child {
  border-top-left-radius: 5px;
}
.tab:first-child {
  min-height: 288px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.6s;
  animation: fadeIn 1s linear 1;
}
.tab select {
  padding: 8px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 4px;
  background-color: #5c5e62;
}
.tab select:optional {
  color: #ffffff;
}
.tab select option {
  background-color: rgb(206, 110, 110);
}
.tab button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  background-color: #000000;
  margin: 10px 0px 10px auto;
}
.tab button:hover {
  background-color: orange;
  cursor: pointer;
}
.tab:last-child {
  min-height: 288px;
  border-radius: 5px;
  transition: all 0.6s;
  padding: 10px;
  animation: fadeIn 1s linear 1;
  display: none;
}
#sec-2 {
  height: 65vh;
  margin: 30px 0px;
}
#sec-2 h1 {
  color: #ffffff;
  padding: 0px 10px;
}
.d-flex {
  display: flex;
  padding: 20px 10px;
}
.sub-sec-2 {
  width: 20%;
  margin: 0px 15px;
  height: 355.5px;
  position: relative;
}
.sub-sec-2:first-child {
  margin-left: 5px;
}

.sub-sec-2:last-child {
  margin-right: 10px;
}
.title-promotion {
  width: 96%;
  position: absolute;
  background-color: #00000071;
  color: #ffffff;
  padding: 15px 5px;
  text-align: center;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  transition: all 0.8s;
  opacity: 0;
}
.sub-sec-2:hover .title-promotion {
  opacity: 1;
}
.title-comment h4 {
  font-size: 12px;
}
.title-promotion p {
  margin-top: 10px;
  font-size: 13px;
}
#sec-3 {
  height: 80vh;
  color: #ffffff;
}
.sub-sec-3 {
  width: 100%;
  background-color: black;
  height: 450px;
  margin: 10px;
  padding: 10px;
  /* text-align: center; */
  border-radius: 5px;
  box-shadow: 0 10px 20px -8px #ffffff9f, 0 8px 30px 8px #ffffff57;
}
.uu-dai {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  background-color: antiquewhite;
  position: relative;
  border: 5px solid #ffffff;
  overflow: hidden;
  margin: 0px auto 20px;
}
.uu-dai img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-sec-3 ul {
  margin-left: 80px;
}
.sub-sec-3 p {
  margin-bottom: 20px;
  text-align: center;
}
.sub-sec-3 h4 {
  margin-bottom: 20px;
  text-align: center;
}
.sub-sec-3:nth-child(2) ul li {
  padding: 5px;
}
.sub-sec-3:nth-child(2) ul li:nth-child(2) {
  margin-left: 25px;
}
.sub-sec-3:nth-child(2) ul li:last-child {
  margin-left: 25px;
}
.sub-sec-3:last-child p {
  margin-bottom: 15px;
}
#sec-4 .tab-header p:first-child {
  margin-left: 10px;
  border-radius: 0;
}
.tab-header-phim {
  height: 40px;
  display: flex;
  border-bottom: 3px solid #41c0ed;
}
.tab-header-phim p {
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.tab-header-phim p:first-child {
  margin-left: 10px;
}
.tab-phim:first-child {
  min-height: 200px;
  transition: all 0.6s ease-out;
  animation: fadeIn 1s linear 1;
}
.tab-phim:last-child {
  min-height: 200px;
  transition: all 0.6s ease-out;
  animation: fadeIn 1s linear 1;
  display: none;
}
.content-tab-phim {
  padding: 10px 0px;
}
.d-flex-tab-phim {
  display: flex;
}
.sub-sec-4 {
  width: 100%;
  margin: 0px 10px;
}
.sub-sec-4 p {
  text-align: center;
  color: #ffffff;
  margin: 20px 0px;
  vertical-align: middle;
}
.sub-sec-4 img {
  max-width: 300px;
}
.phim-img {
  position: relative;
}
.phim-img:hover .xem-ngay {
  min-height: 450px;
  opacity: 1;
  transition: all 0.5s ease;
}
.xem-ngay {
  background-color: rgba(92, 88, 88, 0.562);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  min-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.xem-ngay a {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #3837376b;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.xem-ngay a:hover {
  background-color: orange;
}
/* sec-5 */
#sec-5 {
  display: flex;
}
.comment {
  width: 50%;
}
.tab-header-comment {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 2px solid #41c0ed;
  margin-left: 10px;
}
.d-flex-comment {
  padding: 20px;
  background-color: #0000003f;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
}
.title-comment {
  width: 100%;
  margin: 30px 0px 10px;
  display: flex;
}
.img-cmt {
  width: 50%;
  margin-right: 20px;
}
.review-cmt {
  width: 100%;
}
.review-cmt h3 {
  color: #ffffff;
  margin-bottom: 5px;
}
.review-cmt span {
  padding: 5px;
  font-size: 13px;
}
.like {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 3px;
}
.viewer {
  background-color: #e1dbdb;
  color: #000000;
  border-radius: 3px;
}
.star {
  color: #ffffff;
}
.star i {
  color: yellow;
  margin-right: 5px;
}
.review-cmt p {
  color: #ffffff;
  margin-top: 15px;
}
/* footer */
footer {
  background-color: #000000;
  height: 195px;
  box-shadow: 0 10px 30px 10px #ffffff9f, 0 8px 30px 8px #ffffff57;
}
.d-flex-footer {
  display: flex;
  padding: 25px 10px;
}
.d-flex-footer ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.d-flex-footer ul li {
  padding-left: 10px;
}
.d-flex-footer ul li:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 0;
}
.d-flex-footer ul li a {
  text-decoration: none;
  color: #b3b396;
}

.d-flex-footer ul:last-child li {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 0;
}
.d-flex-footer ul:last-child li:last-child {
  margin-bottom: 0px;
}
.d-flex-footer ul li i {
  margin-right: 5px;
}
